*.pyc

/qp_planner/src/MPC_obstacle_avoidance.pyc

/qp_planner/src/MPC_obstacle_avoidance.pyc

/qp_planner/src/MPC_obstacle_avoidance.pyc

/qp_planner/src/MPC_obstacle_avoidance.pyc

/qp_planner/src/MPC_obstacle_avoidance.pyc

/qp_planner/src/MPC_obstacle_avoidance.pyc

/qp_planner/src/MPC_obstacle_avoidance.pyc

/DroneControl.sublime-workspace
